<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Barra de Navegación</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Hogar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Características</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Precios</a>
        </li>
      </ul>
      <span class="navbar-text">
        Texto de la barra de navegación con un elemento en línea
      </span>
    </div>
  </div>
</nav>

<div class="div-buttons"><button type="button" class="btn btn-primary">Primario</button>
  <button type="button" class="btn btn-secondary">Secundario</button>
  <button type="button" class="btn btn-success">Éxito</button>
  <button type="button" class="btn btn-danger">Peligro</button>
  <button type="button" class="btn btn-warning">Advertencia</button>
  <button type="button" class="btn btn-info">Información</button>
  <button type="button" class="btn btn-light">Luz</button>
  <button type="button" class="btn btn-dark">Hola</button>
  
  <button type="button" class="btn btn-link">Link</button>
</div>

<router-outlet />
